/* style.css*/
body
{
  font-family: Helvetica,sans-serif;
  background-color: deeppurple; 
  color:  bright white;
  text-align: left; 
}

nav 
{ 
  background-color: charcoal; 
  padding: 10px;
}

nav a 
{
  color:gold;
  margin: 10px;
  text-decoration: none;
}

h1
{
  color: electricblue ;
} 
